<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient {{patientData["name"]}} | RobotDoc</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-item" href="../">
                            <img src="{{ url_for('static', filename='img/rd_icon.png') }}" alt="Logo">
                        </div>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-start">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/home">
                                    <span>General</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/patients">
                                    <span>Patients</span>
                                </a>
                            </span>
                        </div>
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/logout">
                                    <span>Logout</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <p>Logged in as Patient: <span>{{patientData["id"]}}</span></p>
                    <h1 class="title">
                        Hallo {{patientData["name"]}}
                    </h1>
                    <h2 class="subtitle">
                        How are you today?
                    </h2>

                    <div class="box">
 
                        <!--
                        <label>
                            <input type="checkbox" id="checkbox1" onchange="toggleDiv(this, 'div1')">
                            HF Model
                        </label>
                        
                        <label>
                            <input type="checkbox" id="checkbox2" onchange="toggleDiv(this, 'div2')">
                            MLT Model
                        </label>    
                        -->

                        <!--
                        <form action="/assignTokens/{{patientData['id']}}/1" method="post" accept-charset="UTF-8"
                            id="div1" style="display: none;">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" name="textToConvert"
                                        placeholder="Enter your symptoms">
                                </p>
                                <button type="submit" class="button is-info">
                                    Process with HF
                                </button>
                            </div>
                        </form>
                        --> 

                        <!--<div class="hero-body has-text-centered">
                            <div class="container"> -->
                                <div class="columns is-multiline">
                                
                                    <div class="column is-full">
                                        <a href="/patients/{{patientData['id']}}">
                                            <div class="box">
                                                <strong>Name:</strong> {{patientData["name"]}}<br>
                                                <strong>Age:</strong> {{patientData["age"]}}<br>
                                                <strong>Weight:</strong> {{patientData["weight"]}} kg <br>
                                                <strong>Sex:</strong> {{patientData["sex"]}}<br>
                                                <strong>Symptoms:</strong>
                                                {% if patientData["symptoms"] %}
                                                    {{ patientData["symptoms"] | join(', ') }}
                                                            
                                                {% endif %} 
                                            </div>
                                        </a>
                                        <a class="button is-primary" href="/editPatient/{{patientData[id]}}">SAVE</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form action="/assignTokens/{{patientData['id']}}/2" method="post" accept-charset="UTF-8"
                            id="div2" style="display: block;"> <!-- set to none if hide / show should be enabled (together with  checkboxes above) -->
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" name="textToConvert"
                                        placeholder="Add new symptoms" style = "width: 50%;">
                                </p>
                                <button type="submit" class="button is-info">
                                    Process with MLT
                                </button>
                            </div>

                            <div>
                                <p>Choose your threshold for the model:</p>
                                <input type="range" min="1" max="100" value="50" class="slider" id="mySlider" name="threshold" />
                                <span id="sliderValue">50%</span>
                            </div>
                        </form>
                        <br>
                    </div>
                    <div class="box" id="output">
                        <p>Input: <b>{{initialText}}</b></p>
                        <br>
                        <p>
                            Symptoms:
                            <span id="outputSymptoms">
                                {% set counter = 0 %}
                                {% for patient in patientData.symptoms %}
                                <span class="tag is-info">{{ patient }}
                                    <a href="/patients/{{patientData['id']}}/symptoms/{{counter}}">
                                        <button class="delete is-small"></button>
                                    </a>
                                </span>
                                {% set counter = counter + 1 %}
                                {% endfor %}
                            </span>
                        </p>
                        <br>
                        <p>Prediction: <b id="outputText">{{prediction}}</b></p>
                        <p>Confidence: <b>{{ confidence }}%</b></p>
                    </div>
                    <!--<div id="knowledgeGraphPatient">
                        <img src="../../static/img/graph_visualization_patient.png" alt="Deneme3">
                    </div> -->
                </div>
            </div>

        </div>
    </section>

    <!-- <script src="{{ url_for('static', filename='js/scripts.js')}}"></script> -->

    <script>
        // show or hide forms (reference: https://chat.openai.com)
        function toggleDiv(checkbox, divId) {
            var div1 = document.getElementById("div1");
            var div2 = document.getElementById("div2");
            var checkbox1 = document.getElementById("checkbox1");
            var checkbox2 = document.getElementById("checkbox2");

            if (divId === "div1") {
                div1.style.display = checkbox.checked ? "block" : "none";
                div2.style.display = checkbox.checked ? "none" : "block";
                checkbox2.checked = !checkbox.checked; // toggle the other checkbox
                localStorage.setItem("checkbox1State", checkbox.checked); // store checkbox state
                localStorage.setItem("checkbox2State", checkbox2.checked); // store the state of the other checkbox
            } else if (divId === "div2") {
                div2.style.display = checkbox.checked ? "block" : "none";
                div1.style.display = checkbox.checked ? "none" : "block";
                checkbox1.checked = !checkbox.checked; // toggle the other checkbox
                localStorage.setItem("checkbox2State", checkbox.checked); // store checkbox state
                localStorage.setItem("checkbox1State", checkbox1.checked); // store the state of the other checkbox
            }
        }

    
        // initialize the checkboxes on page load
        window.onload = function () {
            var checkbox1 = document.getElementById("checkbox1");
            var checkbox2 = document.getElementById("checkbox2");
            var checkbox1State = localStorage.getItem("checkbox1State");
            var checkbox2State = localStorage.getItem("checkbox2State");

            checkbox1.checked = checkbox1State === "true"; // set checkbox state from local storage
            checkbox2.checked = checkbox2State === "true"; // set checkbox state from local storage

            toggleDiv(checkbox2, "div2"); // show the corresponding div
       };


        // Slider for threshold
        const slider = document.getElementById("mySlider");
        const valueDisplay = document.getElementById("sliderValue");
        slider.addEventListener("input", function () {
            const sliderValue = slider.value;
            valueDisplay.textContent = sliderValue + "%";
        });

    </script>

</body>

</html>
