<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | RobotDoc</title>
    <link rel="stylesheet" href="static/css/bulma.css">
    <link rel="shortcut icon" href="static/img/favicon.jpg">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <figure class="avatar">
                            <img src="static/img/RobotDoc-logo_V1.png">
                        </figure>
                        <form action="/login" method="post" accept-charset="UTF-8">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="username" placeholder="Your Email" autofocus=""
                                        name="username">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password"
                                        name="password">
                                </div>
                            </div>
                            <div>
                                {% if loginFailed %}
                                <p> Login failed </p>
                                {% endif %}
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" name="remember_me">
                                    Remember me
                                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="https://github.com/Programmierpraktikum-MVA/RobotDoc#readme">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>