<!doctype html>
<html>
    <head>
        <title>RobotDoc</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class="wrapper">
            <div class="content">

                <h1>
                    RobotDoc: Automatische Diagnose
                </h1>

                <div class="navigation">
                    <a href="/start/" class="button">Start</a>
                    <a href="https://github.com/Programmierpraktikum-MVA/RobotDoc" target="_blank" class="button secondary-button">GitHub</a>
                </div>

            </div>
        </div>
        
    </body>
</html>