<!doctype html>
<html>
    <head>
        <title>RobotDoc</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <div class="content login">

                <h1>
                    RobotDoc
                </h1>

                <form action="#" method="POST" class="input-form">

                    <h2 class="login-title">Login</h2>

                    <p><input type='text' name='email' id='email' placeholder='Email' class="input-field"/></p>
                    <p><input type='password' name='password' id='password' placeholder='Password' class="input-field"/></p>

                    <div class="controller">
                        <p><input type="submit" name="submit"  value="Log in" class="input-button button"/></p>
                    </div>

                    <p class="error-message">{{error}}</p>

                </form>

            </div>

        </div>
    </body>
</html>