<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient {{patientData.id}} | RobotDoc</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-item" href="../">
                            <img src="{{ url_for('static', filename='img/rd_icon.png') }}" alt="Logo">
                        </div>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-start">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/home">
                                    <span>General</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/patients">
                                    <span>Patients</span>
                                </a>
                            </span>
                        </div>
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/logout">
                                    <span>Logout</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <p>Logged in as Patient: <span>{{patientData.id}}</span></p>
                <h1 class="title">
                    Hallo {{patientData.name}}
                </h1>
                <h2 class="subtitle">
                    How are you today?
                </h2>
                <div class="column is-5 is-pulled-left">
                   
                    <!-- show patient stats-->
                    <div class="box">
                        <div class="box">
                            <strong>Name:</strong> {{ patientData.name }}<br>
                            <strong>Age:</strong> {{ patientData.age }}<br>
                            <strong>Weight:</strong> {{ patientData.weight }} kg <br>
                            <strong>Sex:</strong> {{ patientData.sex }}<br>
                            <strong>Symptoms:</strong>
                            <div id="symptoms-display">
                                {% if patientData.symptoms %}
                                    {{ patientData.symptoms | join(', ') }}
                                {% else %}
                                    <!-- Nichts anzeigen, wenn keine Symptome vorhanden sind -->
                                {% endif %}
                            </div>
                        </div>
                        

                            <div>
                                <p>Choose your threshold for the model:</p>
                                <input type="range" min="1" max="100" value="50" class="slider" id="mySlider" name="threshold" />
                                <span id="sliderValue">50%</span> 
                            </div>

                        <br>
                   
                    </div>
                    
                    <div class="box" id="output">
                        <p>Input: <b>{{initialText}}</b></p>
                        <br>
                        <p>
                            Symptoms:
                            <span id="outputSymptoms">
                                {% set counter = 0 %}
                                {% for patient in patientData.symptoms %}
                                <span class="tag is-info">{{ patient }}
                                    <a href="/patients/{{patientData.id}}/symptoms/{{counter}}">
                                        <button class="delete is-small"></button>
                                    </a>
                                </span>
                                {% set counter = counter + 1 %}
                                {% endfor %}
                            </span>
                    
                        </p>
                        <br>
                        <p>Prediction: <b id="outputText">{{prediction}}</b></p>
                        <p>Confidence: <b>{{ confidence }}%</b></p>
                    </div>
                    <a class="button is-primary" style = "margin-bottom:10px;" href="/editPage/{{patientData.id}}" >EDIT</a>

                    <div id="imagePreviewBox" style="display: none;"> <!-- to preview uploaded Image -->
                        <div class="box image-box"> 
                            <h2 style="margin-bottom: 10px;">Preview of your Image:</h2>
                            <img id="imagePreview" src="#" alt="Image Preview"/> 
                        </div>
                    </div>
                    <br>

                    <div id="knowledgeGraphPatient">
                        <img src="{{ url_for('static', filename='img/graph_' + patientData.id|string + '.png') }}" alt="No KG found">
                    </div>

                    <!-- Patient Images Section -->
                    <div class="box">
                        <h2 class="title">Patient Images</h2>
                        <div class="columns is-multiline">
                            {% for image in imagesOfPatient %}
                            <div class="column is-one-third" style="position: relative;">
                                <figure class="image is-4by3">
                                    <img src="{{ image.url }}" alt="Patient Image">
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

               

        
                </div>

                <!-- chat-->
                <div class="chat column is-6 is-offset-6">
                    <div class="box" style="height: 500px; display: flex; flex-direction: column;">
                        <div id="chat-box" class="content" style="flex: 1; overflow-y: auto;">

                            <div class="chat-message is-pulled-left" style="display: flex; ">
                                <div class="chatbubble is-light">
                                    <p>Hi there! How can I help you today?</p>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <form action = "/sendMessage" method="post" accept-charset ="UTF-8" id ="send-message-form" class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" type="text" id="message-input" placeholder="Describe symptoms here...">
                                </div>
                                <div class="control">
                                    <button class="button is-primary" type="submit" style="border-radius: 0%; ">Send</button>
                                </div>
                            </form>
                            <form id="patientImageForm" action="/uploadImageForPatient/{{patientData.id}}" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
                                    <div class="file is-info is-centered"> <!-- File input container -->
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="image" accept="image/*"> <!-- Input for image upload -->
                                            <span class="file-cta">
        
                                                <span class="file-label">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 6h-3.17L16 4h-6v2h5.12l1.83 2H21v12H5v-9H3v9c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zM8 14c0 2.76 2.24 5 5 5s5-2.24 5-5-2.24-5-5-5-5 2.24-5 5zm5-3c1.65 0 3 1.35 3 3s-1.35 3-3 3-3-1.35-3-3 1.35-3 3-3zM5 6h3V4H5V1H3v3H0v2h3v3h2z"/></svg>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                            </form>

                                
                                
                        
                        </div>  
                            <input type="checkbox" id="symptoms-check" name="symptoms-check">
                            <label for="symptoms-check">auto update symptoms</label>                      
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>

    <script>
        var patientData = JSON.parse('{{ patientData | tojson | safe }}');
        
        //load messages from sessionstorage to chat
        var messages = JSON.parse(sessionStorage.getItem('messages' + patientData.id)) || [];
        //adds messages to chat
        var chatBox = document.getElementById('chat-box');
        messages.forEach(function(message) {
            var messageDiv = document.createElement('div');
            messageDiv.className = 'chat-message ' + (message.isBot ? 'is-pulled-left' : 'is-pulled-right');
            messageDiv.innerHTML = `<div class="chatbubble ${message.isBot ? 'is-light' : 'is-primary'}"><p>${message.text}</p></div>`;
            chatBox.appendChild(messageDiv);
    });


        document.addEventListener("DOMContentLoaded", function() {
            const fileInput = document.querySelector('input[type="file"]');
            const form = document.getElementById('patientImageForm'); 
            const uploadContainer = document.querySelector('.file.is-centered');

            // Add a hidden input field to the form
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'imgcontext';
            form.appendChild(hiddenInput);

            fileInput.addEventListener('change', function(event) {
                if (fileInput.files.length > 0) {
                    event.preventDefault();
                    console.log('File input changed');

                    const chatBox = document.getElementById('chat-box');

                    // Add bot message
                    const botMessage = document.createElement('div');
                    botMessage.classList.add('chat-message', 'is-pulled-left');
                    botMessage.innerHTML = `
                        <div class="chatbubble is-light">
                            <p>Please provide context to the image:</p>
                            <input type="text" id="context-input" name="imgcontext" value="">
                            <button id="confirm-context" class="button is-small">Confirm</button>
                        </div>`;
                    chatBox.appendChild(botMessage);

                    const uploadButton = uploadContainer.querySelector('.file-label .file-label');
                    uploadButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 50 50" fill="#ffffff" ><path d="M 42.875 8.625 C 42.84375 8.632813 42.8125 8.644531 42.78125 8.65625 C 42.519531 8.722656 42.292969 8.890625 42.15625 9.125 L 21.71875 40.8125 L 7.65625 28.125 C 7.410156 27.8125 7 27.675781 6.613281 27.777344 C 6.226563 27.878906 5.941406 28.203125 5.882813 28.597656 C 5.824219 28.992188 6.003906 29.382813 6.34375 29.59375 L 21.25 43.09375 C 21.46875 43.285156 21.761719 43.371094 22.050781 43.328125 C 22.339844 43.285156 22.59375 43.121094 22.75 42.875 L 43.84375 10.1875 C 44.074219 9.859375 44.085938 9.425781 43.875 9.085938 C 43.664063 8.746094 43.269531 8.566406 42.875 8.625 Z"></path></svg>';        
                    uploadContainer.classList.remove('is-info');
                    uploadContainer.classList.add('is-success');

                    const confirmButton = document.getElementById('confirm-context');
                    
                    confirmButton.addEventListener('click', function() {
                        console.log('Confirm button clicked');
                        const context = document.getElementById('context-input').value;
                        hiddenInput.value = context;
                        console.log('Context set to:', hiddenInput.value);
                        
                        // Manually trigger form submission
                        const formData = new FormData(form);
                        fetch(form.action, {
                            method: form.method,
                            body: formData
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Response received:', data.reply);
                            const chatBox = document.getElementById('chat-box');
                            const botMessage = document.createElement('div');
                            botMessage.classList.add('chat-message', 'is-pulled-left');
                            botMessage.innerHTML = `<div class="chatbubble is-light"><p>${data.reply}</p></div>`;
                            chatBox.appendChild(botMessage);
                            chatBox.scrollTop = chatBox.scrollHeight;
                            messages.push({ text: data.reply, isBot: true });
                            sessionStorage.setItem('messages' + patientData.id, JSON.stringify(messages));
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    });
                }
            });
        });

        // Slider for threshold
        const slider = document.getElementById("mySlider");
        const valueDisplay = document.getElementById("sliderValue");
        slider.addEventListener("input", function () {
            const sliderValue = slider.value;
            valueDisplay.textContent = sliderValue + "%";
        });

    //     document.addEventListener("DOMContentLoaded", function() {
            
    //         const fileInput = document.querySelector('input[type="file"]');
    //         const form = document.querySelector('form[action="/sendImage"]');
    //         const uploadContainer = document.querySelector('.file.is-centered');

    //         fileInput.addEventListener('change', function() {
    //             if (fileInput.files.length > 0) {
    //                 event.preventDefault();

    //                 const uploadButton = uploadContainer.querySelector('.file-label .file-label');
    //                 uploadButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 50 50" fill="#ffffff" ><path d="M 42.875 8.625 C 42.84375 8.632813 42.8125 8.644531 42.78125 8.65625 C 42.519531 8.722656 42.292969 8.890625 42.15625 9.125 L 21.71875 40.8125 L 7.65625 28.125 C 7.410156 27.8125 7 27.675781 6.613281 27.777344 C 6.226563 27.878906 5.941406 28.203125 5.882813 28.597656 C 5.824219 28.992188 6.003906 29.382813 6.34375 29.59375 L 21.25 43.09375 C 21.46875 43.285156 21.761719 43.371094 22.050781 43.328125 C 22.339844 43.285156 22.59375 43.121094 22.75 42.875 L 43.84375 10.1875 C 44.074219 9.859375 44.085938 9.425781 43.875 9.085938 C 43.664063 8.746094 43.269531 8.566406 42.875 8.625 Z"></path></svg>';

    //                 uploadContainer.classList.remove('is-info');
    //                 uploadContainer.classList.add('is-success');

    //                 setTimeout(function() {
    //                     form.submit();
    //                 }, 1000);
    //         }
    //     });
    // });

    //     document.addEventListener("DOMContentLoaded", function() {
    //         const fileInput = document.querySelector('input[type="file"]');
    //         const imagePreview = document.getElementById('imagePreview');
    //         const imagePreviewBox = document.getElementById('imagePreviewBox');

    //         fileInput.addEventListener('change', function() {
    //             if (fileInput.files && fileInput.files[0]) {
    //                 var reader = new FileReader();

    //                 reader.onload = function (e) {
    //                     imagePreview.src = e.target.result;
    //                     imagePreviewBox.style.display = 'block';
    //                 }

    //                 reader.readAsDataURL(fileInput.files[0]);
    //         }
    //     });
    // });
        //convert patientData dict to JSON so Javascript can handle it

    
        document.getElementById('send-message-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const messageInput = document.getElementById('message-input');
            const symptomsCheck = document.getElementById('symptoms-check');

            const message = messageInput.value.trim();
            if (message !== "") {
                const chatBox = document.getElementById('chat-box');

                 // Add user message
                const userMessage = document.createElement('div');
                userMessage.className = 'chat-message is-pulled-right';
                userMessage.innerHTML = `<div class="chatbubble is-primary"><p>${message}</p></div>`;
                chatBox.appendChild(userMessage);

                messageInput.value = "";
                // Add user message to sessionStorage
                messages.push({ text: message, isBot: false });
                sessionStorage.setItem('messages' + patientData.id, JSON.stringify(messages));

                // Scroll to the bottom of the chat box
                chatBox.scrollTop = chatBox.scrollHeight;

                fetch(`/sendMessage/${patientData.id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ message: message, updateSymptoms: symptomsCheck.checked }),
                })
                .then(response => response.json())
                .then(data => {
                    

                    const botMessage = document.createElement('div');
                    if(data.type === 'symptoms' && data.reply.length > 0){
                        botMessage.classList.add('chat-message', 'is-pulled-left');
                        const symptoms = data.reply.join(', ');
                        botMessage.innerHTML = `
                            <div class="chatbubble is-light">
                                <p>Please confirm updated symptoms:</p>
                                <input type="text" name="symptoms" value="${patientData.symptoms},${symptoms}">
                                <button id="confirm-symptoms" class="button is-small">Confirm</button>
                            </div>`;
                         // Add response message to sessionStorage
                        messages.push({ text: "New symptoms added", isBot: true });
                        sessionStorage.setItem('messages' + patientData.id, JSON.stringify(messages));
                    }
                    else{
                        botMessage.classList.add('chat-message', 'is-pulled-left');
                        botMessage.innerHTML = `<div class="chatbubble is-light"><p>${data.reply}</p></div>`;
                         // Add response message to sessionStorage

                        messages.push({ text: data.reply, isBot: true });
                        sessionStorage.setItem('messages' + patientData.id, JSON.stringify(messages));
                    
                    }

                    const knowledgeGraphImage = document.getElementById('knowledgeGraphPatient').querySelector('img');
                    let imagePath = knowledgeGraphImage.src;
                    knowledgeGraphImage.src = ''; // Clear the current image path
                    knowledgeGraphImage.src = imagePath + '?' + new Date().getTime(); // Append a timestamp to force reload
                  
                    chatBox.appendChild(botMessage);

                    chatBox.scrollTop = chatBox.scrollHeight;

                    const confirmButton = document.getElementById('confirm-symptoms');
                    if (confirmButton) {
                        confirmButton.addEventListener('click', function() {
                            const newSymptoms = document.querySelector('input[name="symptoms"]').value;
                            console.log(newSymptoms)
                            fetch(`/updateSymptoms/${patientData.id}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ symptoms: newSymptoms }),
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    patientData.symptoms = newSymptoms;
                                    // Update the HTML element that displays the symptoms
                                    const symptomsElement = document.getElementById('symptoms-display');
                                    symptomsElement.textContent = newSymptoms;

                                    fetch(`/sendMessage/${patientData.id}`, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({ message: message, updateSymptoms: false }),
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        const botMessage = document.createElement('div');
                                        botMessage.classList.add('chat-message', 'is-pulled-left');
                                        botMessage.innerHTML = `<div class="chatbubble is-light"><p>${data.reply}</p></div>`;
                                        chatBox.appendChild(botMessage);

                                        // Add response message to sessionStorage
                                        messages.push({ text: data.reply, isBot: true });
                                        sessionStorage.setItem('messages' + patientData.id, JSON.stringify(messages));

                                        const knowledgeGraphImage = document.getElementById('knowledgeGraphPatient').querySelector('img');
                                        let imagePath = knowledgeGraphImage.src;
                                        knowledgeGraphImage.src = ''; // Clear the current image path
                                        knowledgeGraphImage.src = imagePath + '?' + new Date().getTime(); // Append a timestamp to force reload

                                        chatBox.scrollTop = chatBox.scrollHeight;
                                    });
                                    

                                    
                                }
                                
                            });
                        });
                    }

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });



    </script>

</body>

</html>
