<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients | RobotDoc</title>
    <link rel="stylesheet" href="static/css/bulma.css">
    <link rel="shortcut icon" href="static/img/favicon.jpg">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-item" href="../">
                            <img src="static/img/rd_icon.png" alt="Logo">
                        </div>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-start">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/home">
                                    <span>General</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/patients">
                                    <span>Patients</span>
                                </a>
                            </span>
                        </div>
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/logout">
                                    <span>Logout</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body has-text-centered">
            <div class="container">
                <div class="columns is-multiline">
                    {% for patient in patients %}
                    <div class="column is-one-third">
                        <a href="/patients/{{patient.id}}">
                            <div class="box">
                                <strong>Name:</strong> {{ patient.name }}<br>
                                <strong>Age:</strong> {{ patient.age }}<br>
                                <strong>Weight:</strong> {{ patient.weight }} kg <br>
                                <strong>Sex:</strong> {{ patient.sex }}<br>
                                <strong>Symptoms:</strong>
                                {% if patient.symptoms %}
                                    {{ patient.symptoms | join(', ') }}
                                {% else %}
                                            <!-- Nichts anzeigen, wenn keine Symptome vorhanden sind -->
                                {% endif %}
                            </div>
                        </a>
                        <a class="button is-primary" href="/editPatient/{{patient.id}}">EDIT</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </section>

    <script src="static/js/scripts.js"></script>

</body>

</html>