<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | RobotDoc</title>
    <link rel="stylesheet" href="static/css/bulma.css">
    <link rel="shortcut icon" href="static/img/favicon.jpg">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <figure class="avatar">
                            <img src="static/img/RobotDoc-logo_V1.png">
                        </figure>
                        <form action="/signup" method="post" accept-charset="UTF-8">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="username" placeholder="Username" autofocus=""
                                        name="username">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password"
                                        placeholder="Password (min. 8 characters)" name="password">
                                </div>
                            </div>
                            <div>
                                {% if signupFail %}
                                <p> Sign up failed! </p>
                                {% elif invalidUsername %}
                                <p> Username field is empty! </p>
                                {% elif takenUsername %}
                                <p> Username is already taken! </p>
                                {% elif invalidPassword %}
                                <p> Password doesn't match requirements! </p>
                                {% endif %}
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Sign up</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/login">Login</a> &nbsp;·&nbsp;
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="https://github.com/Programmierpraktikum-MVA/RobotDoc#readme">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>