venv/
mein_venv/
myenv/

.DS_Store
.idea

03_application-team/static/img/graph_visualization.png
03_application-team/static/img/graph_visualization_patient.png

robodocvenv
robodoc_llava
roboenv_llama

__pycache__/

**/model/
**/datasets/

.env
