#-----------------------
Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.3
flask_cors==6.0.1
psycopg2-binary==1.9.10
bcrypt==4.0.1
requests==2.32.4
flask_caching==2.3.1
python-dotenv==1.1.1
Werkzeug==3.0.0
scipy==1.10.0
#------------------------


transformers==4.53.0
numpy==1.26.4
matplotlib==3.10.3
pandas==2.3.0
openpyxl==3.1.5
openai==0.27.10
faiss-cpu==1.7.4
gensim==4.3.3
nltk==3.8.1
torch-geometric==2.4.0
datasets==3.6.0
accelerate==1.8.1
tqdm==4.67.1
torch==2.7.0 -f https://download.pytorch.org/whl/torch_stable.html