Flask==2.3.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
psycopg2==2.9.6
bcrypt==4.0.1
requests

transformers
scispacy==0.5.2
spacy==3.4.4
numpy
tensorflow
en-core-sci-sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz
torch==2.0.1