* {
    box-sizing: border-box;
    word-break: break-word;
}

:root {
    --color-1: #000; 
    --color-2: #fff;
    --color-3: #004C90;

    --font: Helvetica, sans-serif;

    --font-size-1: 40px;
    --font-size-2: 24px;
    --font-size-3: 16px;

    --line-height-1: 1.4;

    --content-width: 85%;
    --max-content-width: 500px;

    --radius: 8px;
    --border: 2px solid var(--color-1);
}

@media screen and (max-width: 900px) {
    :root {
        --font-size-1: 30px;
        --font-size-2: 18px;
        --font-size-3: 14px;

        --line-height-1: 1.2;
    }
}

/* START: Typograpghy */

h1, h2, h3, a, p, li {
    font-family: var(--font);
}

h1 {
    font-size: var(--font-size-1);
}

h1, h2, h3 {
    font-weight: 400;
    line-height: var(--line-height-1);
}

h2 {
    font-size: var(--font-size-2);
}

h3, a, p, li {
    font-size: var(--font-size-3);
}

/* END: Typograpghy */

/* START: Layout */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    max-width: var(--max-content-width);
    width: var(--content-width);
    margin: 25px auto 100px auto;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* END: Layout */

/* START: Buttons */

.button {
    cursor: pointer;
    background-color: var(--color-1);
    border: var(--border);
    border-color: var(--color-1) !important;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: var(--color-2);
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: 500;
    font-size: calc(var(--font-size-2)*0.9);
}

.button:hover {
    background-color: var(--color-2) !important;
    border-color: var(--color-3) !important;
    color: var(--color-1);
}

.secondary-button {
    background-color: var(--color-2) !important;
    border-color: var(--color-1) !important;
    color: var(--color-1)
}

/* END: Buttons */

/* START: Navigation */

.navigation {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 7px;
}

/* END: Index */